.header {
    width: 100%;
    background-color: #131921;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header_left {
    display: flex;
    align-items: center;
}

.header .header_left .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_left img {
    width: 100px;
    object-fit: contain;
    margin-top: 8px;
}

.header .header_left .location {
    margin-left: 20px;
    width: 160px;
}

.header .header_left .location .upper {
    font-size: 12px;
    color: rgb(197, 197, 197);
}

.header .header_left .location .lower {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
}

.header .header_nav_search {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.header .header_nav_search .search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.header .header_nav_search .search_container .select {
    height: 100%;
    padding: 0 8px 0 10px;
    outline: none;
    border: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e6e6e6;
    cursor: pointer;
}

.header .header_nav_search .search_container input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    outline: none;
    border: transparent;
    font-size: 15px;
    color: #000;
}

.header .header_nav_search .search_container .search_button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border: transparent;
    outline: none;
    background-color: #febd69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.header .header_right {
    margin: 0 0 0 15px;
}

.header .header_right .nav_items {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

.header .header_right .nav_items li a {
    text-decoration: none;
    color: #fff;
}

.header .header_right .nav_items .languages {
    margin-right: 5px;
    border: 1px solid transparent;
    height: 100%;
    padding: 14px 15px;
}

.header .header_right .nav_items .languages:hover {
    border: 1px solid white;
}

.header .header_right .nav_items .sign {
    border: 1px solid transparent;
    width: 140px;
    margin: 0 5px;
    padding: 5px;
}

.header .header_right .nav_items .sign:hover {
    border: 1px solid white;
}

.header .header_right .nav_items .orders {
    border: 1px solid transparent;
    width: 80px;
    margin: 0 5px;
    padding: 6px;
}

.header .header_right .nav_items .orders:hover {
    border: 1px solid white;
}