.product_container {
    width: 420px;
    height: 480px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.product_container .product_title h3 {
    font-size: 15px;
    text-align: center;
    padding-bottom: 30px;
}

.product_container .product_image {
    width: 300px;
    height: 300px;
    align-self: center;
}

.product_container .product_image img {
    width: 100%;
    height: 100%;
}

.product_container button {
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    color: rgb(85, 85, 85);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.product_container .btn {
    background-color: #ffd814;
    padding: 8px 12px;
    margin: 40px 50px 15px 50px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.product_item {
    text-decoration: none;
    margin: 0;
    padding: 0;
}