.products {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 16rem;
    z-index: 100;
}
